.productInfoPane {
  width:90%;
  margin:auto;
  outline: none;

  .productImage {
    width:100%;
    @media (min-width:768px) {
      width:30%;
    }
    @extend .pull-left;
    > img {
      max-width:100%;
      width:100%;
      height:auto;
    }
  }
  .productDescription {
    width:100%;
    @extend .pull-right;
    @media (min-width:768px) {
      width:70%;
      margin-top: $spacing-xl;
      margin-bottom: $spacing-l;
      padding-left:$spacing;

    }
  }
}