$FONT_BASE: 16 !default;

/* COLOURS */
$olive: #c7c7a5;
$olive-light: #eae8cf;
$olive-green: #488400;
$grey-light: #e6e7df;
$black: #000;
$white: #FFF;

/* Spacings */
$spacing-xs: 10px;
$spacing: 15px;
$spacing-l: 30px;
$spacing-xl: 50px;

// Converts px to ems using the $FONT_BASE global variable
@function px-to-ems($px) {
  @return $px / $FONT_BASE;
}

