@import 'css/_variables';
@import 'components/Pager/pager.scss';
@import 'components/Accordion/accordion.scss';
@import 'components/ProductInfoPane/productInfoPane.scss';
@import './css/font-awesome-4.7.0/scss/font-awesome.scss';

.App {

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pull-right {
  float:right;
}
.pull-left {
  float:left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
