.accordion {
  width: 95%;
  margin:auto;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.1) ;
  box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.1) ;
  overflow: hidden;
  border-radius: $spacing-xs $spacing-xs 0 0;

  /* Heading */
  .heading {
    background: -webkit-linear-gradient(0deg, $olive-light 0, $olive 100%);
    background: -moz-linear-gradient(90deg, $olive-light 0, $olive 100%);
    background: linear-gradient(90deg, $olive-light 0, $olive 100%);
    position:relative;

    &.open::after,
    &.close::after {
      font-family: FontAwesome;
      color: $olive-green;
      position:absolute;
      right: $spacing-l;
      top: 50%;
      line-height:0;
    }
    &.open::after {
      content:'\f0d8';
    }
    &.close::after {
      content: '\f0d7'
    }
    [role=button] {
      display: block;
      padding: $spacing $spacing-l;
      text-decoration:none;
      color:$black;
      font-weight:bold;

      .fa {
        margin-right: $spacing-xs;
        color: $olive-green;
      }
    }
  }

  /* Content body */
  .accordion_content {
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }
  .heading.open + .accordion_content {
    display:block;
    max-height:1000px;
    @media (min-width:768px) {
      max-height:500px;
    }
  }
  .heading.close + .accordion_content {
    max-height: 0;
  }
}