.pager {
  width:100%;
  clear:both;
  margin-top: $spacing-l;

  display:inline-block;
  padding: $spacing $spacing 0;
  border-top: 1px solid $grey-light;

  a {
    color: $olive-green;
    text-decoration: underline;
    line-height:30px;
    margin-bottom: $spacing-l;

    &[class*=button-]::after {
      content:'';
      width:0;
      height:0;
      border-style: solid;
      display:block;
    }

    &.button-next {
      > .titleLabel {
        @media (max-width:767px) {
          float: left;
          position: relative;
          top: 36px;
          line-height: 1.3;
          margin-top:-36px;
        }
      }
      &::after {
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent $olive-green;
        float:right;
        margin-left:15px;
      }
    }

    &.button-prev {
      > .titleLabel {
        @media (max-width:767px) {
          float: left;
          position: relative;
          top: 36px;
          line-height: 1.3;
          margin-top: -36px;
          left: 40px;
        }
      }

      &::after {
        border-width: 15px 20px 15px 0;
        border-color: transparent $olive-green transparent transparent;
        float:left;
        margin-right:15px;
      }
    }
  }
}

